xml/distributions.xsd

<?xml version="1.0" ?>
<?xml-stylesheet type="text/xsl" href="./xs3p-master/xs3p.xsl" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>Schema for distributions file. The distributions file defines the distributions used by various elements of the model.</xs:documentation>
    </xs:annotation>
    <!--
    Very basic types
    -->
    <xs:simpleType name="uuid">
        <xs:annotation>
            <xs:documentation>Universally unique identifier.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="standard-deviation">
        <xs:annotation>
            <xs:documentation>Standard deviation to be used in a normal distribution. This value must be non-negative.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="speed">
        <xs:annotation>
            <xs:documentation>Magnitude of speed. This value must be non-negative.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enum-share-occurence">
        <xs:annotation>
            <xs:documentation>Relative share to be used in an enumerable distribution. This value must be non-negative.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="aggression-trend-direction-enumeration">
        <xs:annotation>
            <xs:documentation>Used in a raw empirical distribution to note the correlation direction between value and aggression.</xs:documentation>
            <xs:documentation>'positive' means that higher values indicate higher aggression.</xs:documentation>
            <xs:documentation>'negative' means that higher values indicate lower aggression.</xs:documentation>
            <xs:documentation>'none' means that there is no relationship between aggression and the value of the distribution.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="positive" />
            <xs:enumeration value="negative" />
            <xs:enumeration value="none" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="bin-observation-count">
        <xs:annotation>
            <xs:documentation>Count of observations in a particular bin. This value must be a non-negative integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="color">
        <xs:annotation>
            <xs:documentation>Hex-encoded color.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="#[a-fA-F0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="distance-unit-enum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="meters" />
            <xs:enumeration value="kilometers" />
            <xs:enumeration value="feet" />
            <xs:enumeration value="miles" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="speed-unit-enum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="meters-per-second" />
            <xs:enumeration value="kilometers-per-hour" />
            <xs:enumeration value="feet-per-second" />
            <xs:enumeration value="miles-per-hour" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="acceleration-unit-enum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="meters-per-second-squared" />
            <xs:enumeration value="feet-per-second-squared" />
            <xs:enumeration value="g" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zero-to-one">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>
    <!-- 
    Distribution types
    -->
    <xs:complexType name="distribution-normal">
        <xs:annotation>
            <xs:documentation>Represents a normal distribution.</xs:documentation>
            <xs:documentation>In addition to the expected characteristics of the normal distribution, this data structure allows reversibility and truncatability.</xs:documentation>
            <xs:documentation>Reversibility, set by the optional 'reverse' property, allows the CDF to be reversed, so that lower probabilities correspond to higher values and vice versa.</xs:documentation>
            <xs:documentation>Truncatability, set by the 'min-value' and 'max-value' properties, ensures that the distribution will provide logical minimum and/or maximum values. These properties are optional. If both are provided, the 'min-value' property should be less than the 'max-value' property, and the results are undefined if it is not.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="mean" type="xs:decimal" use="required" />
        <xs:attribute name="standard-deviation" type="standard-deviation" use="required" />
        <xs:attribute name="reverse" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>'true' reverses the probability under the bell curve. For example, if μ=2 and σ=1, a random number draw of 0.2 would yield 1.158 if 'false' but 2.842 if true.</xs:documentation>
                <xs:documentation>The purpose for reversal is that by convention, a lower random number draw results in less aggressive behavior. If the value of a parameter increases as aggression increases, such as target speed, the reversal is not necessary.</xs:documentation>
                <xs:documentation>However, some parameters, such as following distance, decrease as aggression increases, and if a parameter such as this is normally distributed, then the analyst will want to set the 'reverse' attribute to 'true'.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="min-value" type="xs:decimal">
            <xs:annotation>
                <xs:documentation>Optional. If provided, the distribution will be truncated at this value.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-value" type="xs:decimal">
            <xs:annotation>
                <xs:documentation>Optional. If provided, the distribution will be truncated at this value.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="distribution-empirical-observation">
        <xs:annotation>
            <xs:documentation>An observation defined by its cumulative probability and its value.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="prob" use="required">
            <xs:annotation>
                <xs:documentation>The probability, in the range [0, 1], that corresponds to the provided value.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="val" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The value assigned to the provided probability.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="distribution-empirical">
        <xs:annotation>
            <xs:documentation>A distribution that is essentially based on observed values. It translates a probability to a value based on (x, F(x)) pairs.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dp" type="distribution-empirical-observation" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A point that makes up the distribution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="distribution-empirical-raw-observation">
        <xs:annotation>
            <xs:documentation>Observation for a distribution that is based on observed values.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="value" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The observed value</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="distribution-empirical-raw">
        <xs:annotation>
            <xs:documentation>A set of observations to be used to mimic some behavior in the model. An example could be spot speeds from a speed study.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dp" type="distribution-empirical-raw-observation" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An observation</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="aggression" type="aggression-trend-direction-enumeration" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="binned-distribution-observation">
        <xs:annotation>
            <xs:documentation>A range of values with the number of observations in that range.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="min-value" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The minimum value of the bin</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-value" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>The maximum value of the bin</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="count" type="bin-observation-count" use="required">
            <xs:annotation>
                <xs:documentation>The number of observations the bin</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="distribution-binned">
        <xs:annotation>
            <xs:documentation>A representation of a histogram. An example could be the output of an automatic vehicle counter that provides speeds in 5mph bins.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="bin" type="binned-distribution-observation" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A bin in the histogram</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="aggression" type="aggression-trend-direction-enumeration" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:group name="real-number-distribution">
        <xs:annotation>
            <xs:documentation>A generalization of distributions that provide a number based on a probability.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="empirical-distribution" type="distribution-empirical" />
            <xs:element name="normal-distribution" type="distribution-normal" />
            <xs:element name="raw-empirical-distribution" type="distribution-empirical-raw" />
            <xs:element name="binned-distribution" type="distribution-binned" />
        </xs:choice>
    </xs:group>
    <xs:complexType name="distribution-with-units" abstract="true">
        <xs:sequence>
            <xs:group ref="real-number-distribution" minOccurs="1" maxOccurs="1"></xs:group>
            <xs:any processContents="skip" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="" />
        <xs:attribute name="uuid" type="uuid" use="required" />
    </xs:complexType>
    <xs:complexType name="acceleration-distribution">
        <xs:complexContent>
            <xs:extension base="distribution-with-units">
                <xs:attribute name="units" type="acceleration-unit-enum" use="required"/>
                <xs:anyAttribute processContents="skip"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="distance-distribution">
        <xs:complexContent>
            <xs:extension base="distribution-with-units">
                <xs:attribute name="units" type="distance-unit-enum" use="required"/>
                <xs:anyAttribute processContents="skip"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fractional-normal-distribution">
        <xs:annotation>
            <xs:documentation>For a normal distribution that is guaranteed to have bounds [0, 1]</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="distribution-normal">
                <xs:attribute name="min-value" type="xs:decimal" fixed="0" />
                <xs:attribute name="max-value" type="xs:decimal" fixed="1" />
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fractional-empirical-distribution-point">
        <xs:complexContent>
            <xs:restriction base="distribution-empirical-observation">
                <xs:attribute name="val" type="zero-to-one" use="required" />
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="fractional-empirical-distribution">
        <xs:annotation>
            <xs:documentation>For an empirical distribution that is guaranteed to have data points in the range [0, 1]</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="distribution-empirical">
                <xs:sequence>
                    <xs:element name="dp" type="fractional-empirical-distribution-point" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:group name="fractional-distribution-group">
        <xs:choice>
            <xs:element name="normal-distribution" type="fractional-normal-distribution"/>
            <xs:element name="empirical-distribution" type="fractional-empirical-distribution"/>
        </xs:choice>
    </xs:group>
    <xs:complexType name="fractional-distribution">
        <xs:sequence>
            <xs:group ref="fractional-distribution-group" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="uuid" type="uuid" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>

    <!-- 
    Connector Link Selection Behaviors
    -->
    <xs:simpleType name="connector-link-selection-behavior-type">
        <xs:annotation>
            <xs:documentation>Behaviors that vehicles will observe when selecting a link in a connector.</xs:documentation>
            <xs:documentation>Background: connectors are driven by vehicles to move from one road to another. Connectors may have several links originating from one lane on the upstream road, with each link ending on a different lane of the downstream road. Vehicles generally have infinite knowledge of network topology, and so they can select connector links using several methods, enumerated here.</xs:documentation>
            <xs:documentation>NEAREST means that the vehicle will select the nearest lane on the downstream road. This is the subset of vehicles that are strictly law-abiding.</xs:documentation>
            <xs:documentation>FARTHEST means that the vehicle will select the farthest lane on the downstream road. This is the subset of vehicles that wants to maximize turnings speed.</xs:documentation>
            <xs:documentation>BEST means that the vehicle will select the link that minimizes downstream lane changes to continue on its route.</xs:documentation>
            <xs:documentation>RANDOM means that the vehicle will select a link at random.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEAREST" />
            <xs:enumeration value="FARTHEST" />
            <xs:enumeration value="BEST" />
            <xs:enumeration value="RANDOM" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="connector-link-selection-behavior-share">
        <xs:annotation>
            <xs:documentation>A relation of relative occurence of a link selection behavior. </xs:documentation>
        </xs:annotation>
        <xs:attribute name="occurence" type="enum-share-occurence" use="required">
            <xs:annotation>
                <xs:documentation>Relative number of vehicles selecting this behavior.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="connector-link-selection-behavior-type" use="required">
            <xs:annotation>
                <xs:documentation>The selected behavior.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="connector-link-selection-behavior-distribution">
        <xs:annotation>
            <xs:documentation>A distribution of link selection behaviors. Every available behavior is not required to appear.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>If an enumeration value is used, it should only appear once. If it appears multiple times, one of the supplied occurences will be used, but which one is undefined.</xs:documentation>
            </xs:annotation>
            <xs:element name="share" type="connector-link-selection-behavior-share" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="" />
        <xs:attribute name="uuid" type="uuid" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>

    <!--
    Vehicle Model Distributions
    -->
    <xs:complexType name="vehicle-model-share">
        <xs:annotation>
            <xs:documentation>A relation of relative occurence of a vehicle model. </xs:documentation>
        </xs:annotation>
        <xs:attribute name="occurence" type="enum-share-occurence" use="required">
            <xs:annotation>
                <xs:documentation>Relative number occurences of this vehicle model.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="uuid" use="required">
            <xs:annotation>
                <xs:documentation>UUID of the vehicle model in this share.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="vehicle-model-distribution">
        <xs:annotation>
            <xs:documentation>A distribution of vehicle models.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>If a vehicle model is used, it should only appear once. If it appears multiple times, all the shares for that vehicle model will be added together.</xs:documentation>
            </xs:annotation>
            <xs:element name="share" type="vehicle-model-share" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="" />
        <xs:attribute name="uuid" type="uuid" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>

    <!-- 
    Color Distributions
    -->
    <xs:complexType name="color-share">
        <xs:annotation>
            <xs:documentation>A relation of relative occurence of a color. </xs:documentation>
        </xs:annotation>
        <xs:attribute name="occurence" type="enum-share-occurence" use="required">
            <xs:annotation>
                <xs:documentation>Relative number occurences of this color.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="color" use="required">
            <xs:annotation>
                <xs:documentation>Color represented by this share.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="color-distribution">
        <xs:annotation>
            <xs:documentation>A distribution of colors.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>If a color appears multiple times, all the shares for that color will be added together.</xs:documentation>
            </xs:annotation>
            <xs:element name="share" type="color-share" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="" />
        <xs:attribute name="uuid" type="uuid" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>

    <!--
        Acceleration Distributions
    -->
    <xs:complexType name="acceleration-function-point">
        <xs:attribute name="velocity" type="speed" use="required" />
        <xs:attribute name="mean" type="xs:decimal" use="required" />
        <xs:attribute name="standard-deviation" type="standard-deviation" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>
    <xs:complexType name="acceleration-function">
        <xs:annotation>
            <xs:documentation>A relationship between a set of speeds and the acceleration at each of the speeds.</xs:documentation>
            <xs:documentation>At each speed, the distribution of acceleration is given by a mean and a standard deviation.</xs:documentation>
            <xs:documentation>In practice mean and standard deviation should be monotonic, but there is no way to enforce this.</xs:documentation>
            <xs:documentation>Negative means are allowed because when combined with standard deviation the result could still be nonnegative.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dp" type="acceleration-function-point" minOccurs="2" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="" />
        <xs:attribute name="uuid" type="uuid" use="required" />
        <xs:attribute name="speed-unit" type="speed-unit-enum" use="required" />
        <xs:attribute name="acceleration-unit" type="acceleration-unit-enum" use="required" />
        <xs:anyAttribute processContents="skip" />
    </xs:complexType>

    <!-- 
    The actual document!
    -->
    <xs:element name="distributions">
        <xs:annotation>
            <xs:documentation>The root element, containing all distribution collections.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <!--
                Connector Link Selection Behaviors
                -->
                <xs:element name="distribution-set">
                    <xs:annotation>
                        <xs:documentation>Connector Link Selection Behaviors</xs:documentation>
                        <xs:documentation>The value of this distribution is determined by the vehicle's random parameter.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="connector-link-selection-behavior-distribution" minOccurs="1" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="connector-link-selection-behaviors" use="required" />
                    </xs:complexType>
                </xs:element>
                <!--
                Connector Maximum Positioning Distances
                -->
                <xs:element name="distribution-set">
                    <xs:annotation>
                        <xs:documentation>Connector Maximum Positioning Distances</xs:documentation>
                        <xs:documentation>Background: Because vehicles generally have infinite knowledge of the network topology, they can make their lane changes as early as possible. In some instances, however, you may wish to limit the upstream lane change behavior for a particular connector. This distribution provides the maximum upstream positioning distance where applied to a connector.</xs:documentation>
                        <xs:documentation>The value of this distribution is determined by the vehicle's aggression parameter (negative correlation).</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="distance-distribution" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="connector-max-positioning-distance" use="required" />
                    </xs:complexType>
                </xs:element>
                <!--
                Vehicle Models
                -->
                <xs:element name="distribution-set">
                    <xs:annotation>
                        <xs:documentation>Vehicle Models</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="vehicle-model-distribution" minOccurs="1" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="vehicle-models" use="required" />
                    </xs:complexType>
                </xs:element>
                <!--
                Colors
                -->
                <xs:element name="distribution-set">
                    <xs:annotation>
                        <xs:documentation>Colors</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="color-distribution" minOccurs="1" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="colors" use="required" />
                    </xs:complexType>
                </xs:element>
                <!--
                    Acceleration functions
                -->
                <xs:element name="distribution-set">
                    <xs:annotation>
                        <xs:documentation>Acceleration Functions</xs:documentation>
                        <xs:documentation>Acceleration is a characteristic of the vehicle determined by its random parameter.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="acceleration-function" minOccurs="1" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="acceleration" use="required" />
                    </xs:complexType>
                </xs:element>
                <!-- Maximum Deceleration Distributions -->
                <xs:element name="distribution-set">
                    <xs:annotation>
                        <xs:documentation>Maximum Deceleration Distributions</xs:documentation>
                        <xs:documentation>Regardless of values provided by a distribution, the minimum logical value is zero, and the minimum practical value is probably 1 m/s^2.</xs:documentation>
                        <xs:documentation>There is no way to enforce this limit here, however, without breaking the distributions already defined.</xs:documentation>
                        <xs:documentation>Therefore, the simulator should issue a warning when illogical values are encountered, perhaps by calculating the probability of an illogical value.</xs:documentation>
                        <xs:documentation>Maximum deceleration is a characteristic of the vehicle determined by its random parameter.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="acceleration-distribution" minOccurs="1" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="max-deceleration" use="required" />
                    </xs:complexType>
                </xs:element>
                <!-- Desired Acceleration Fractions -->
                <xs:element name="distribution-set">
                    <!-- TODO documentation -->
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="distribution" type="fractional-distribution" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" fixed="desired-acceleration-fractions" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>